<!-- About Me Section -->
<section class="about padding-top" id="about">
    <div class="container">
        <!-- Intro Section -->
        <article class="text">
            <header>
                <h2>About Me</h2>
            </header>
            <p>My name is Ahlam Mohammed, I'm a Full stack developer with a great passion for programming.
                I am passionate about delivering solutions that add to people's lives and at the same time challenge me. Improved my skills as a Front-End and Back-End developer.
            </p>
            <p></p>
            <p>I develop websites and applications using HTML, CSS, and php. I'm always improving myself with each project I get my hands on.</p>
            <h3>Here are my main technical skills:</h3>
            <div class="technical-skills">
                <img src="images/css-icon.svg" alt="Css">
                <img src="images/html-icon.svg" alt="Html">
                <img src="images/js-icon.svg" alt="Js">
                <img src="images/laravel.svg" alt="Laravel">
                <img src="images/bootstrap.svg" alt="Bootstrap">
                <img src="images/tailwind.svg" alt="Tailwind">
                <img src="images/git.svg" alt="Git">
                <img src="images/jira.svg" alt="Jira">
            </div>
        </article>
        <!-- Skills Section -->
        <article class="text">
            <header>
                <h2>Skills</h2>
            </header>
            <div class="skill">
                <div class="box">
                    <img src="images/leader.svg" alt="">
                    <div>
                        <h4>Leadership Skills</h4>
                    </div>
                </div>
                <div class="box">
                    <img src="images/solution-provider.svg" alt="">
                    <div>
                        <h4>Problem Solving</h4>
                    </div>
                </div>
                <div class="box">
                    <img src="images/team-work.svg" alt="">
                    <div>
                        <h4>Teamwork Skills</h4>
                    </div>
                </div>
                <div class="box">
                    <img src="images/content-writing.svg" alt="">
                    <div>
                        <h4>Writing Content</h4>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>