<section class="contant" id="contant">
    <header>
        <h1>Contact Me</h1>
        <p>If you've seen my potential or want to talk to me, don't hesitate to send me a message.</p>
    </header>
    <div class="container">
        <div class="contact-me">
            <div style="background-image: url(images/btn.svg);">
                <img src="images/email-icon.svg" alt="Email">
                <a href="ahlam.m.alfashq@gmail.com">ahlam.m.alfashq@gmail.com</a>
            </div>
            <div style="background-image: url(images/btn.svg);">
                <img src="images/phone-icon.svg" alt="Phone">
                <a href="tel:+967737341940">(967) 737341940</a>
            </div>
        </div>
        <div class="form">
            <h2>Get in touch using the form below</h2>
            <div class="form">
                <input placeholder="Email" id="email" type="text" name="email">
                <p class="error" id="emailError"></p>
                <textarea required="" placeholder="your mensagem" id="message" name="message"></textarea>
                <p class="error" id="messageError"></p>
                <button id="send" class="btn" onclick="send()" style="background-image: url(images/btn.svg);">Send</button>
            </div>
        </div>
    </div>
</section>