<!-- Experience Section -->
<section class="about padding-top">
    <div class="container">
        <article class="text">
            <img id="effict" src="images/exp.svg" alt="" style="padding-top: 50px;">
        </article>
        <article class="text">
            <header>
                <h2>Experience</h2>
            </header>
            <div class="experience-box">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="images/job.svg" alt="">
                        </div>
                        <span>2020</span>
                        <h5>Medication Guide and Reports Management<span>Full stack developer</span></h5>
                        <p>Analysis of all Website operation and Database , Website development by Laravel, Mysql, Bootstrap </p>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="images/job.svg" alt="">
                        </div>
                        <span>2019</span>
                        <h5>Blog<span>Full stack developer</span></h5>
                        <p>Analysis of all Website operation and Database , Website development by php, Mysql, css </p>
                    </li>
                    <!-- <li>
                        <div class="icon">
                            <img src="images/job.svg" alt="">
                        </div>
                        <span>2015</span>
                        <h5>ENGINEERING DEGREE<span>OXFORD UNIVERSITY</span></h5>
                        <p>  Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore
                        adipisicing elit</p>
                    </li> -->
                </ul>
            </div>
        </article>
    </div>
</section>