<div class="container">
    <a href="#"><span>A</span>hlam</a>
    <div class="technical-skills">
        <a href="https://www.facebook.com/profile.php?id=100073558843295"  target="_blank" rel="noreferrer"><img src="images/facebook.svg" alt="Facebook"></a>
        <a href="https://twitter.com/ahlam_mo7md"  target="_blank" rel="noreferrer"><img src="images/twitter.svg" alt="Twitter"></a>
        <a href="https://www.linkedin.com/in/ahlammo7md/"  target="_blank" rel="noreferrer"><img src="images/linkedin.svg" alt="Linkedin"></a>
        <a href="https://github.com/Ahlam-Mohammed"  target="_blank" rel="noreferrer"><img src="images/github.png" alt="Github"></a>
    </div>
</div>