<header class="header">
    <div class="container">
        <a href="#"><span>A</span>hlam</a>
        <div>
            <label class="switch">
                <input id="switch-btn" onclick="changeTheme()" type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#services">services</a></li>
                <li><a href="#contant">Contact</a></li>
                <li><a href="#" class="btn" style="background-image: url(images/btn.svg);">CV</a></li>
            </ul>
        </nav>
        <!-- Menu for Mobile -->
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <nav class="mobile-menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#services">services</a></li>
                    <li><a href="#contant">Contact</a></li>
                    <li><a href="#" class="btn" style="background-image: url(images/btn.svg);">CV</a></li>
            </nav>
        </div>
    </div>
</header>