<!-- Landing Section -->
<section class="home padding-top" id="home">
    <div class="container">
        <div class="intro">
            <span>Hello &#x1F44B;,I'm</span>
            <h1>Ahlam Mohammed</h1>
            <h2>Full stack developer</h2>
            <p id="sub-intro"></p>
            <a href="#" class="btn" style="background-image: url(images/btn.svg);">Contact</a>
        </div>
        <figure>
            <img id="img" src="images/landing.svg" alt="Ahlam">
        </figure>
    </div>
    <div class="background">
        <img src="images/bg.svg" alt="">
    </div>
</section>