 <!-- My Portfolio Section  -->
 <section class="portfolio padding-top" id="portfolio" >
    <header>
        <h1>My Portfolio</h1>
    </header>
    <div class="container">
        <article>
            <header>
                <svg width="40" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#254242 " stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                <div class="project-links">
                    <a href="https://github.com/Ahlam-Mohammed/Sunnyside" target="_blank" rel="noreferrer"><img src="images/github-icon.svg" alt="GitHub"></a>
                    <a href="https://ahlam-mohammed.github.io/Sunnyside/" target="_blank" rel="noreferrer"><img src="images/external-link-icon.svg" alt="Visitar site"></a>
                </div>
            </header>
            <img src="images/project1.png" alt="">
            <h3>Sunnyside Website</h3>
            <footer>
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                </ul>
            </footer>
        </article>
        <article>
            <header>
                <svg width="40" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#254242 " stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                <div class="project-links">
                    <a href="https://github.com/Ahlam-Mohammed/Easybank" target="_blank" rel="noreferrer"><img src="images/github-icon.svg" alt="GitHub"></a>
                    <a href="https://ahlam-mohammed.github.io/Easybank/" target="_blank" rel="noreferrer"><img src="images/external-link-icon.svg" alt="Visitar site"></a>
                </div>
            </header>
            <img src="images/project2.png" alt="">
            <h3>Easybank</h3>
            <footer>
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                </ul>
            </footer>
        </article>
        <article>
            <header>
                <svg width="40" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#254242 " stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                <div class="project-links">
                    <a href="https://github.com/Ahlam-Mohammed/Dreams-website" target="_blank" rel="noreferrer"><img src="images/github-icon.svg" alt="GitHub"></a>
                    <a href="https://ahlam-mohammed.github.io/Dreams-website/" target="_blank" rel="noreferrer"><img src="images/external-link-icon.svg" alt="Visitar site"></a>
                </div>
            </header>
            <img src="images/project3.png" alt="">
            <h3>Dreams Website</h3>
            <footer>
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                </ul>
            </footer>
        </article>
        <article>
            <header>
                <svg width="40" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="#254242 " stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                <div class="project-links">
                    <a href="https://github.com/Ahlam-Mohammed/Login-Tailwindcss" target="_blank" rel="noreferrer"><img src="images/github-icon.svg" alt="GitHub"></a>
                    <a href="https://ahlam-mohammed.github.io/Login-Tailwindcss/" target="_blank" rel="noreferrer"><img src="images/external-link-icon.svg" alt="Visitar site"></a>
                </div>
            </header>
            <img src="images/project4.png" alt="">
            <h3>Login</h3>
            <footer>
                <ul>
                    <li>Html</li>
                    <li>TaliwandCss</li>
                </ul>
            </footer>
        </article>
    </div>
</section>