<!-- Services Section -->
<section class="services" id="services">
    <header>
        <h1>Services</h1>
    </header>
    <div class="container">
        <article style="background-image: url(images/bg.svg);">
            <img src="images/web.svg" alt=""">
            <h1>Web development</h1>
        </article>
        <article style="background-image: url(images/bg.svg);">
            <img src="images/ux-ui.svg" alt="">
            <h1>UI/UX design</h1>
        </article>
    </div>
</section>