<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Portfolio</title>
</head>
<body>

    <main>

        <!-- Contact Me Section -->
        <%- include('../partials/error-404'); %>

    </main>

</body>
</html>